name: aarch64
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  archs:
    # The host should always be linux
    runs-on: ubuntu-18.04
    name: Build on aarch64
    steps:
      - uses: actions/checkout@v2.1.0
      - uses: uraimo/run-on-arch-action@v2.1.1
        name: Build artifact
        id: build
        with:
          arch: aarch64
          distro: ubuntu20.04

          # Not required, but speeds up builds
          githubToken: ${{ github.token }}

          # The shell to run commands with in the container
          shell: /bin/sh

          # Produce a binary artifact and place it in the mounted volume
          run: |
            apt-get update -q -y
            apt-get install -q -y  build-essential git gcc valgrind cmake
            uname -a;id;uname -m;lscpu | grep Endian
            mkdir build && cd build
            cmake .. && make -j && make check
