name: x64-ubuntu
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    name: Build on Ubuntu

    strategy:
      fail-fast: false
      matrix:
        compiler: [ gcc, clang ]
    steps:
      - uses: actions/checkout@v2.1.0
      - name: build
        env:
          CC: ${{ matrix.compiler }}
        run: |
          sudo apt update
          sudo apt-get install valgrind cmake
          mkdir build-debug && cd build-debug
          cmake .. -DSANITIZER=address
          make -j
          make check
          rm -rf *
          cmake .. -DSANITIZER=undefined
          make -j
          make check
          rm -rf *
          cmake ..
          make -j
          make valgrind

  ubuntu-gcc-thread:
    runs-on: ubuntu-latest
    name: Thread sanitizer
    steps:
      - uses: actions/checkout@v2.1.0
      - name: build
        env:
          CC: gcc
        run: |
          sudo apt-get install cmake
          mkdir build-debug && cd build-debug
          cmake .. -DSANITIZER=thread
          make -j
          make check
