name: windows
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  windows:
    runs-on: windows-latest
    name: Build on Windows

    steps:
      - uses: actions/checkout@v2.1.0
      - name: build
        run: |
          mkdir build-debug && cd build-debug
          cmake -G "Visual Studio 16 2019" -A x64 ..
          cmake --build .
          ctest -C Debug